{% extends "rest_framework/base.html" %}

{% block title%} Test API TruckPad {% endblock %}

{% block branding %}
    <span>
        <a href="#" rel="nofollow" class="navbar-brand">
            Teste API TruckPad <span class="version">1.0</span>
        </a>
    </span>
{% endblock %}